body{
  margin: 0; padding: 0; font: 16px sans-serif; color: black; background-color: white; width: 100%; height: 100%;
}
.header{
  width: 100%;
  height: 20vh;
  background-color: #ca34fb;
  color:transparent;
}
.body{
  background-color: silver;
  color: black;
  width: 100%;
  height: auto;
  display: flex;
}

.body > div{
  display: inline-flex;
}
.bottom_menu{
  color:white;
  display:flex;
}
.bottom_menu li{
  display: inline-flex;
  margin-left: 1vw;
}
.bottom_menu a{
  text-decoration: none;
  font-family: sans-serif;
  color: #FFE77B;
  background-color: inherit;
}
.order{
  min-width: 60vw;
}

.order form{
  width: 95%;
}

.box_content{
  color: inherit;
  background-color: white;
  margin-left: 20px;
}
.box_content h2{
  text-align: center;
}
.box_conteyner {
  display: flex;
  flex-wrap: wrap;
}
.box_conteyner  div{
  flex-wrap: wrap;
  flex-basis: 10vmax;
}

.box_conteyner > div div{
  padding-bottom: 10px;
}

.box_conteyner  > div{
  padding: 10px;
}
.add_cargo{
  display: flex;
  justify-content: center;
  padding: 5vh;
}

.add_cargo input{
  padding: 10px 40px;
  border-radius: 10px;
  border: 0px solid violet;
  background-color: violet;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}
