.course__colum_content > section{margin-bottom: 5rem;}
.course__colum{background-image: url("../images/body_course_colum.jpg");
  box-shadow:0 0 0 408px rgba(0, 0, 0, 0.70) inset;
  min-height: 800px
}
  .coure__title{
    text-align: center;
    padding: 10px 0px;
  }
  .coure__title > span{background-color: #6BD199;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 3px 2px 0px rgba(0, 177, 0, 0.2);
    margin: 50px 0px;
    color: inherit;
  }
  .coure__subject{font-weight: bold;}
  .coure__subject div{
    padding: 20px 80px;
    margin: 10px;
    border-radius: 30px;
    border: 5px solid rgba(0,0,0,0.3);
    color: var(--colorWhite);
    letter-spacing: 3px;
    font-size: 20px;
    transition:border 1s linear;
  }
  .coure__subject a{color: var(--colorWhite)}
  .coure__subLink1{background-color: #004D95;}
  .coure__subLink2{background-color: #0C952D;}
  .coure__subLink3{background-color: #560095;}
  .coure__subLink4{background-color: #950048;}
  .coure__subLink5{background-color: #8E001A;}
  .coure__subLink6{background-color: #8E5E00;}
  .coure__subLink7{background-color: #00A564;}
  .coure__subLink8{background-color: #006EA5;}
  .coure__subLink9{background-color: #363AAB;}
  .coure__subLink10{background-color: #843F8B;}
  .coure__subLink11{background-color: #3F5B8B;}
  .coure__subLink12{background-color: #8B3F54;}
  .coure__subLink13{background-color: #8B663F;}
  .coure__subLink14{background-color: #2F755C;}
  .coure__subLink15{background-color: #179035;}
  .coure__subLink16{background-color: #178990;}
  .coure__subLink4{background-color: #00104D;}
  .coure__subject div:hover{
    transition: 1s;
    box-shadow:0 0 0 408px rgba(0, 0, 0, 0.70) inset;
    cursor: pointer;
    border-style: dotted;
  }
/*--------------------------benefits-------------------------------------*/
.benefits__header, .benefits__body{text-align: center;}
.benefits__body_borR, .benefits__body_borL{
  border-right: 2px solid silver;
  padding-right: 3rem;
}
.benefits__wraper{margin-top: 4rem;}
.benefits__wraper > div{
  width: 20rem;
}
.benefits__img{margin:2rem 0px;}
.benefits__head > h4{margin-bottom: 1rem;}
/*--------------------------timer-------------------------------------*/
.clock__timer{background-color: #F8F9F9;
  min-height: 40rem;
}
.clock__wraper{text-align: center;}
.clock__header{margin-top: 5rem;font-size: 3rem}
.clock__header span:first-child{color:red;}
.clock__header span:last-child{display:inline-block;
  margin-top: 2rem;
  font-size: 2rem;
}
#app{
  display: inline-table;
  margin-top: 5rem;
}
.timer{display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.box{margin-left: 100px;
  font-size: 3rem;
  color:red;
  border-right: solid 2px grey;
  padding-right: 100px;
}
.box:last-child{border-right: none}
.label{
  font-size: 1rem;
  color:black;
}
  /*--------------------------timer- end------------------------------------*/
.step__{margin: 5rem 0px;}
.step__wraper > h2{text-align: center;margin-bottom: 5rem}
.step__start{width: 100%;
  height: 100%;
  align-items: center;
}
.step__content{max-width:50%}
.step__content > div{
  padding-bottom: 2rem;
}

.step__content_start{display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10vmax;
}
.check__content_img{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
}
.check__content_img::before{
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 4px;
    background-color: #2c6dad;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
.check__content_img::after{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #336699;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
.step__content_start_wraper > span{
  margin-left: 2rem;
  display: inline-block;
  max-width: 50rem;
}
.step__content_start_h3{
  margin-left: 2rem;
  font-weight:bold;
}
.step__work_money{background-color: #52bdec;
  color:var(--colorWhite);text-align: center;
  padding: 2rem;
  border-radius: 20px;
  max-width: 23rem;
  font-size: 3rem;font-weight: bold;
}
