.frontend_header_1{background-color: #7144C0;
  color: white;}
.position_frontend_1{height: 15rem; background-color: #ECDEFF}
    .frontend_1_html_b4_1{padding: 1.3rem 7rem 1.3rem 1.3rem;
      border: 1px solid #924AFF;
      width: 10% !important;
      border-radius: 5%;color:#924AFF; font-size: 18px; text-align: center;}
.frontend_wr_1 a{color: #924AFF;}
.frontend_wr_1{background-color: #F9F5FF}
