.htmlcss__header_backg{
  background-color: green;
  background: linear-gradient(90deg, rgba(14,121,125,1) 0%, rgba(65,115,119,1) 35%, rgba(45,124,97,1) 100%);
  }
  .htmlcss__Img_color{
    color:yellow;
    font-size: 10rem;
  }
.htmlcss__headehtml_img::before{content: "\ec8b";}
.htmlcss__headecss_img::before{content: "\ec30";}
.htmlcss__header_pricebor{border: 1px solid yellow;}
.htmlcss__start{
  background-color: #A4F5D5;
  padding-bottom: 3rem;
  background: linear-gradient(90deg,
    rgba(243,250,227,1) 0%,
    rgba(239,246,246,0.9) 50%,
    rgba(252,250,234,1) 100%);
  }
