.htmlcss__header_wraper2{
  background-color: rgba(89,31,43,1);
  background: linear-gradient(90deg,
    rgba(89,31,43,1) 0%,
    rgba(74,17,28,1) 3%,
    rgba(59,14,19,1) 50%,
    rgba(85,23,27,1) 100%);
}
  .htmlcss__Img_color2{color:#970C3A;
    font-size: 10rem;
  }
.htmlcss__header_price2{
  padding:3rem 0px;
  border: 1px solid #970C3A;
}
