:root{
  --colorWhite: white;
}
body{
  margin: 0px;
  padding: 0px;
  color: #2E4053;
  background-color: var(--colorWhite);
  font-size: 1rem;
  font-family: Roboto,  sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.flex{display: flex;}
.flexDirCol{flex-direction: column;}
.flWrap{flex-wrap: wrap;}
.flDirRow{flex-direction: row;}
.flJusContSpacBeetw{justify-content: space-between;}
.flJusContCenter{justify-content: center;}
.flJusContSpacAround{justify-content: space-around;}
.algItemCenter{align-items: center;}

ul, li{margin: 0px; padding: 0px;}
a{text-decoration: none;}
.wraper__{min-height: 50vmax;
  overflow: hidden;
  }
.body__images_all{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wraper__position{max-width: 1200px;
  margin: 0 auto;
  height: 100%
}
